/* GENERAL PAGE */

/* Page ba klaviyo form */
.template-page .index-section--ba-klaviyo-form {
  max-width:980px;
  margin:0 auto;
}

/* Page ba klaviyo form title */
.template-page .index-section--ba-klaviyo-form .hero__overlay-title {
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
}

/* Page ba klaviyo form form */
.template-page .index-section--ba-klaviyo-form form {
  margin:15px auto 0;
  max-width:250px;
}

/* Page ba klaviyo form input */
.template-page .index-section--ba-klaviyo-form form input {
  margin-bottom:0;
  padding-left:0;
  padding-right:0;
  border:none;
  outline:none;
  background:transparent;
  border-bottom:3px solid #000;
  color:#000;
  text-align:center;
  font-weight:600;
  opacity:1;
}

/* Page ba klaviyo form input placeholder */
.template-page .index-section--ba-klaviyo-form form input::placeholder {
  color:#000!important;
  opacity:1!important;
  font-weight:600;
  text-align:center;
  transition:color .2s;
}

/* Page ba klaviyo form input placeholder focus */
.template-page .index-section--ba-klaviyo-form form input:focus::placeholder {
  color:rgba(0,0,0,.3)!important;
}

/* Page ba klaviyo form input placeholder Edge fix*/
.template-page .index-section--ba-klaviyo-form form input::-webkit-input-placeholder {
  color:#000!important;
  opacity:1;
}

/* Page ba klaviyo form input placeholder focus Edge fix */
.template-page .index-section--ba-klaviyo-form form input:focus::-webkit-input-placeholder {
  color:rgba(0,0,0,.3)!important;
}

/* Page ba klaviyo form button */
.template-page .index-section--ba-klaviyo-form form .btn {
  margin-top:25px;
}

/* Page ba klaviyo form messages */
.template-page .index-section--ba-klaviyo-form form .klaviyo_messages {
  color:#000;
  font-weight:600;
}

/* Page ba klaviyo form success message */
/* Page ba klaviyo form error message */
.template-page .index-section--ba-klaviyo-form form .success_message,
.template-page .index-section--ba-klaviyo-form form .error_message {
  margin-top:25px;
}

/* GET STARTED PAGE */

/* Get Started get started */
#how-to-level-up-your-body-amp-mind-w-aloe-vera-juice #shopify-section-ba-get-started {
  display:none;
}

@media only screen and (min-width: 750px) {

/* GET STARTED PAGE */

}

@media only screen and (min-width: 1000px) {

/* GET STARTED PAGE */

}
