/* GENERAL */

/* menu scrollbar fix */
html {
  overflow-y:scroll;
}

/* buttons */
.btn:not(.btn--clear) {
  color:#000;
  border:1px solid #000;
  border-radius:15px;
  font-size:1.4rem;
  background:#95cef2;
}

/* buttons hover */
.btn:not(.btn--clear):hover {
  opacity:.7;
}

/* buttons border fix */
.btn:not(.btn--clear)::after {
  display:none;
}

/* add to cart button background fix */
.btn:not(.btn--clear).btn--to-secondary-transitioned {
  background:#fff;
}

/* header announcement bar close button */
#shopify-section-header .announcement-bar__close {
  background:#95cef2;
  color:#000;
  border-radius:50%;
  border:1px solid #000;
}

/* header logo */
#shopify-section-header .site-header__logo {
  color:#d9c;
  font-weight:400;
}

/* header cart bubble */
#shopify-section-header .site-header__cart-bubble {
  border:1px solid #000;
}

/* ba get started text */
#shopify-section-ba-get-started p > em {
  color:#999;
  font-weight:400;
  font-size:1.75rem;
  font-style:normal;
}

/* INDEX PAGE */

/* Index nav not open header not sticky announcement bar */
/* Index nav not open header not sticky logo */
.template-index:not(.navigation-open) #shopify-section-header .site-header:not(.site-header--fixed) .announcement-bar__message,
.template-index:not(.navigation-open) #shopify-section-header .site-header:not(.site-header--fixed) .site-header__logo {
  color:#fff;
}

/* Index slideshow */
.template-index .slideshow {
  height:100vh;
  transition:height 0s 999999s; /* Samsung Internet jump fix */
}

/* Index slideshow background */
.template-index .slideshow__overlay::before {
  background-image:url( //cdn.shopify.com/s/files/1/2089/4883/t/5/assets/ba-icon-aloe-dark.svg?5544002055934962046 );
  background-repeat:round;
  background-size:4.5rem 4.5rem;
  border-bottom:35px solid #d9c;
}

/* Index slideshow heading ending */
.template-index .slideshow .slideshow__heading span {
  font-style:italic;
  font-weight:400;
}

/* Index slideshow scroll button */
.template-index .slideshow .ba-scroll {
  position:absolute;
  bottom:5vh;
  left:0;
  z-index:3;
  display:inline-block;
  width:100%;
  transition:bottom 0s 999999s; /* Samsung Internet jump fix */
}

/* Index slideshow scroll button */
.template-index .slideshow .ba-scroll span {
  position:absolute;
  bottom:0;
  left:50%;
  width:40px;
  height:40px;
  margin-left:-20px;
  border:3px solid #fff;
  border-radius:100%;
  box-sizing:border-box;
  animation:bounce 2s infinite;
}

/* Index slideshow scroll button */
.template-index .slideshow .ba-scroll span::after {
  position:absolute;
  top:50%;
  left:50%;
  content:'';
  width:14px;
  height:14px;
  margin:-10px 0 0 -7px;
  border-left:2px solid #fff;
  border-bottom:2px solid #fff;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  box-sizing:border-box;
}

/* Index slideshow scroll button animation */
@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 10px);
  }
  40% {
    transform: translate(0, 0);
  }
}

/* Index we are betteraloe text */
.template-index #shopify-section-1511032550493 p {
  font-size:1.75rem;
  color:#999;
}

/* Index all products button */
.template-index #shopify-section-1511032637913 .btn {
  margin-top:0;
}

/* Index ba product gallery image */
.template-index .index-section--ba-product-gallery .image-bar__item {
  background-size:auto 100%;
  background-color:#fff;
  height:300px;
}

/* Index ba product gallery icon */
.template-index .index-section--ba-product-gallery .image-bar__text .icon {
  margin-bottom:15px;
}

/* Index ba product gallery caption */
.template-index .index-section--ba-product-gallery .image-bar__text .image-bar__caption {
  font-size:2rem;
  max-width:70%;
  margin-left:auto;
  margin-right:auto;
}

/* Index aloe ≠ aloe background */
.template-index #shopify-section-1511032752763 .hero__overlay::before {
  background-image:url( //cdn.shopify.com/s/files/1/2089/4883/t/5/assets/ba-icon-aloe-light.svg?5544002055934962046 );
  background-repeat:round;
  background-size:4.5rem 4.5rem;
  border:15px solid #000;
  border-left-width:0;
  border-right-width:0;
}

/* Index ba klaviyo form background */
.template-index .index-section--ba-klaviyo-form .hero__overlay::before {
  background-image:url( //cdn.shopify.com/s/files/1/2089/4883/t/5/assets/ba-icon-aloe-dark.svg?5544002055934962046 );
  background-repeat:round;
  background-size:4.5rem 4.5rem;
  border:15px solid #d9c;
  border-left-width:0;
  border-right-width:0;
}

/* Index ba klaviyo form animated bar */
.template-index .index-section--ba-klaviyo-form .hero__overlay-title.has-animated::before {
  background-color:#fff;
}

/* Index ba klaviyo form form */
.template-index .index-section--ba-klaviyo-form form {
  margin:15px auto 0;
  max-width:250px;
}

/* Index ba klaviyo form input */
.template-index .index-section--ba-klaviyo-form form input {
  margin-bottom:0;
  padding-left:0;
  padding-right:0;
  border:none;
  outline:none;
  background:transparent;
  border-bottom:3px solid #fff;
  color:#fff;
  text-align:center;
  font-weight:600;
  opacity:1;
}

/* Index ba klaviyo form input placeholder */
.template-index .index-section--ba-klaviyo-form form input::placeholder {
  color:#fff!important;
  opacity:1!important;
  font-weight:600;
  text-align:center;
  transition:color .2s;
}

/* Index ba klaviyo form input placeholder focus */
.template-index .index-section--ba-klaviyo-form form input:focus::placeholder {
  color:rgba(255,255,255,.3)!important;
}

/* Index ba klaviyo form input placeholder Edge fix*/
.template-index .index-section--ba-klaviyo-form form input::-webkit-input-placeholder {
  color:#fff!important;
  opacity:1;
}

/* Index ba klaviyo form input placeholder focus Edge fix */
.template-index .index-section--ba-klaviyo-form form input:focus::-webkit-input-placeholder {
  color:rgba(255,255,255,.3)!important;
}

/* Index ba klaviyo form button */
.template-index .index-section--ba-klaviyo-form form .btn {
  margin-top:25px;
}

/* Index ba klaviyo form messages */
.template-index .index-section--ba-klaviyo-form form .klaviyo_messages {
  color:#fff;
  font-weight:600;
}

/* Index ba klaviyo form success message */
/* Index ba klaviyo form error message */
.template-index .index-section--ba-klaviyo-form form .success_message,
.template-index .index-section--ba-klaviyo-form form .error_message {
  margin-top:25px;
}

@media only screen and (min-width: 750px) {

/* INDEX PAGE */

/* Index slideshow background */
.template-index .slideshow__overlay::before {
  background-size:6.5rem 6.5rem;
}

/* Index ba product gallery */
.template-index .index-section--ba-product-gallery {
  padding:0 5.5%;
}

/* Index ba product gallery image */
.template-index .index-section--ba-product-gallery .image-bar__item {
  height:344px;
}

/* Index aloe ≠ aloe background */
/* Index ba klaviyo form background */
.template-index #shopify-section-1511032752763 .hero__overlay::before,
.template-index .index-section--ba-klaviyo-form .hero__overlay::before {
  border-left-width:15px;
  border-right-width:15px;
}

}

@media only screen and (min-width: 1000px) {

/* INDEX PAGE */

/* Index content wrapper */
.template-index .content-for-index {
  max-width:1350px;
  margin:0 auto;
  padding:0 2%;
}

/* Index aloe ≠ aloe */
.template-index #shopify-section-1511032752763 {
  display:inline-block;
  width:49%;
  vertical-align:top;
  margin:4vh 1% 4vh 0;
}

/* Index ba klaviyo form */
.template-index .index-section--ba-klaviyo-form {
  display:inline-block;
  width:49%;
  vertical-align:top;
  margin:4vh 0 4vh 1%;
}

/* Index aloe ≠ aloe */
/* Index ba klaviyo form */
/* Index aloe ≠ aloe background */
/* Index ba klaviyo form background */
.template-index #shopify-section-1511032752763,
.template-index .index-section--ba-klaviyo-form,
.template-index #shopify-section-1511032752763 .hero__overlay::before,
.template-index .index-section--ba-klaviyo-form .hero__overlay::before {
  min-height:553px;
}

}
